<ng-container *ngIf="resume$ | async as resume">
  <div>
    <h1>{{resume.basics?.name}}</h1>
    <h2>{{resume.basics?.label}}</h2>
    <p>{{resume.basics?.email}}</p>
    <p>{{resume.basics?.phone}}</p>
    <p>{{resume.basics && resume.basics['website']}}</p>
    <p>{{resume.basics?.summary}}</p>

    <h2>Work Experience</h2>
    <div *ngFor="let work of resume.work">
      <h3>{{work.company}}</h3>
      <p>{{work.position}}</p>
      <p>{{work.website}}</p>
      <p>{{work.startDate}} - {{work.endDate}}</p>
      <p>{{work.summary}}</p>
      <ul>
        <li *ngFor="let highlight of work.highlights">{{highlight}}</li>
      </ul>
    </div>
  </div>
</ng-container>
